<!DOCTYPE html>
<html>

<head>
	<title> All Clothes </title>
	<meta charset="UTF-8">
	<style>
		.cloth-set1 {
			border: 2px solid black;
			width: 320px;
			height: 510px;
			text-align: center;
			padding-top: 12px;
			float: left;
			margin: 10px 22px;
		}

		.clothset p {
			font-size: 22px;
			margin-top: 10px;
		}

		.clothset b {
			font-size: 23px;
		}

		.clothset del {
			font-size: smaller;
			margin-right: 3px;
		}

		.clothset a {
			text-decoration: none;
			color: green;

		}
	</style>
</head>

<body>
	<div class="clothset">
		<div class="cloth-set1">
			<a href="/kurtaset1"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/32962343/ir564_512.webp"> </a>
			<p> Woman's Rayon Kurti With Plazzo <br>
				<b> &#x20B9; 365 </b> <del>&#x20B9;396</del> <a> 8% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaSet2.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/326006783/srxon_400.webp"> </a>
			<p> Woman's Crepe Palazzo Set <br>
				<b> &#x20B9; 299 </b> <del>&#x20B9;310</del> <a> 4% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaSet3.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/360850990/3jwsv_400.webp"> </a>
			<p> Woman's Cotton Kurti With Plazzo <br>
				<b> &#x20B9; 319 </b> <del>&#x20B9;353</del> <a> 10% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaSet4.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/353343105/u5gs1_400.webp"> </a>
			<p> Woman's Cotton Kurti With Plazzo <br>
				<b> &#x20B9; 423 </b> <del>&#x20B9;448</del> <a> 6% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaSet5.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/451077031/xrchc_400.webp"> </a>
			<p> Woman's Khadi Cotton Kurti Set <br>
				<b> &#x20B9; 308 </b> <del>&#x20B9;323</del> <a> 5% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaSet6.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/316963820/bpx42_512.webp"> </a>
			<p> Woman's Cotton Kurta Set <br>
				<b> &#x20B9; 408 </b> <del>&#x20B9;429</del> <a> 5% off </a> <br>
				Free Delivery
			</p>
		</div>
	</div>

	<div class="clothset">
		<div class="cloth-set1">
			<a href="Anarkali1.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/228024038/29qnl_400.webp"> </a>
			<p> Woman's Anarkali Set <br>
				<b> &#x20B9; 284 </b> <del>&#x20B9;314</del> <a> 10% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="Anarkali2.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/437089400/mqxjm_400.webp"> </a>
			<p> Woman's Crepe Anarkali Set <br>
				<b> &#x20B9; 366 </b> <del>&#x20B9;429</del> <a> 15% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="Anarkali3.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/437647401/joy57_400.webp"> </a>
			<p> Woman's Anarkali Set <br>
				<b> &#x20B9; 580 </b> <del>&#x20B9;623</del> <a> 7% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="Anarkali4.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/368339126/zecfq_400.webp"> </a>
			<p> Woman's Anarkali Set <br>
				<b> &#x20B9; 899 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="Anarkali5.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/353342948/ifrxc_400.webp"> </a>
			<p> Woman's Cotton Anarkali Set <br>
				<b> &#x20B9; 532 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="Anarkali6.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/117604745/lez4q_400.webp"> </a>
			<p> Woman's Anarkali Set <br>
				<b> &#x20B9; 490 </b> <br>
				Free Delivery
			</p>
		</div>
	</div>

	<div class="clothset">
		<div class="cloth-set1">
			<a href="KurtaDupatta1.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/379460082/xxdoe_400.webp"></a>
			<p> Woman's Rayon Kurti With Dupatta <br>
				<b> &#x20B9; 365 </b> <del>&#x20B9;396</del> <a> 8% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaDupatta2.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/416308407/dnd2q_400.webp">
			</a>
			<p> Woman's Crepe Dupatta Set <br>
				<b> &#x20B9; 299 </b> <del>&#x20B9;310</del> <a> 4% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaDupatta3.html"><img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/365366700/2fxec_400.webp"> </a>
			<p> Woman's Cotton Kurti Set <br>
				<b> &#x20B9; 319 </b> <del>&#x20B9;353</del> <a> 10% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaDupatta4.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/387599427/ie3w1_400.webp"></a>
			<p> Woman's Kurti With Dupatta <br>
				<b> &#x20B9; 423 </b> <del>&#x20B9;448</del> <a> 6% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaDupatta5.html"><img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/401530297/dbhnb_400.webp"></a>
			<p> Woman's Khadi Cotton Set <br>
				<b> &#x20B9; 308 </b> <del>&#x20B9;323</del> <a> 5% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="KurtaDupatta6.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/295859867/9kz86_400.webp">
			</a>
			<p> Woman's Cotton Dupatta Set <br>
				<b> &#x20B9; 408 </b> <del>&#x20B9;429</del> <a> 5% off </a> <br>
				Free Delivery
			</p>
		</div>
	</div>

	<div class="clothset">
		<div class="cloth-set1">
			<a href="CordSet1.html"><img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/417434713/ivevs_512.webp"></a>
			<p> Woman's Rayon Cord Set <br>
				<b> &#x20B9; 365 </b> <del>&#x20B9;396</del> <a> 8% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="CordSet2.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/329925090/bnluq_400.webp"> </a>
			<p> Woman's Crepe Cord Set <br>
				<b> &#x20B9; 299 </b> <del>&#x20B9;310</del> <a> 4% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="CordSet3.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/408938805/hxfqu_400.webp"> </a>
			<p> Woman's Cotton Cord Set <br>
				<b> &#x20B9; 319 </b> <del>&#x20B9;353</del> <a> 10% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="CordSet4.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/394701615/7pxc5_400.webp"> </a>
			<p> Woman's Cord Set <br>
				<b> &#x20B9; 423 </b> <del>&#x20B9;448</del> <a> 6% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="CordSet5.html"> <img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/446352962/rp3sp_400.webp"> </a>
			<p> Woman's Khadi Cotton Cord Set <br>
				<b> &#x20B9; 308 </b> <del>&#x20B9;323</del> <a> 5% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="CordSet6.html"><img height="400px" width="300px" alt="KurtaSet" src="https://images.meesho.com/images/products/345204538/ltpup_400.webp"> </a>
			<p> Woman's Cotton Cord Set <br>
				<b> &#x20B9; 408 </b> <del>&#x20B9;429</del> <a> 5% off </a> <br>
				Free Delivery
			</p>
		</div>
	</div>

	<div class="clothset">
		<div class="cloth-set1">
			<a href="AnarkaliDupatta1.html"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/379689240/36kjm_400.webp"></a>
			<p> Woman's Anarkali Set <br>
				<b> &#x20B9; 540 </b> <del>&#x20B9;620</del> <a> 7% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="AnarkaliDupatta2.html"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/382519791/yzcii_400.webp"> </a>
			<p> Woman's Crepe Anarkali Set <br>
				<b> &#x20B9; 366 </b> <del>&#x20B9;429</del> <a> 15% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="AnarkaliDupatta3.html"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/300850467/sdkfw_400.webp"> </a>
			<p> Woman's Cotton Anarkali Set <br>
				<b> &#x20B9; 580 </b> <del>&#x20B9;623</del> <a> 7% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="AnarkaliDupatta4.html"><img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/135665515/agk7w_400.webp"></a>
			<p> Woman's Anarkali Set <br>
				<b> &#x20B9; 699 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="AnarkaliDupatta5.html"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/336482560/4sbsf_400.webp"></a>
			<p> Woman's Organza Anarkali Set <br>
				<b> &#x20B9; 532 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="AnarkaliDupatta6.html"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/289786972/ebqzx_400.webp"> </a>
			<p> Woman's Party Wear Anarkali Set <br>
				<b> &#x20B9; 666 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="AnarkaliDupatta7.html"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/309377782/d6ifb_400.webp"> </a>
			<p> Woman's Organza Anarkali Set <br>
				<b> &#x20B9; 670 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="AnarkaliDupatta8.html"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/429500145/blif2_400.webp"> </a>
			<p> Woman's Party Wear Anarkali Set <br>
				<b> &#x20B9; 780 </b> <br>
				Free Delivery
			</p>
		</div>
	</div>
</body>

</html>