<!DOCTYPE html>
<html>

<head>
	<title> Kurta Set with Dupatta </title>
	<meta charset="UTF-8">
	<style>
		.cloth-set1 {
			border: 2px solid black;
			width: 320px;
			height: 510px;
			text-align: center;
			padding-top: 12px;
			float: left;
			margin: 10px 22px;
		}

		.clothset p {
			font-size: 22px;
			margin-top: 10px;
		}

		.clothset b {
			font-size: 23px;
		}

		.clothset del {
			font-size: smaller;
			margin-right: 3px;
		}

		.clothset a {
			text-decoration: none;
			color: green;
		}
	</style>
</head>

<body>
	<div class="clothset">
		<div class="cloth-set1">
			<a href="/anarkalidupatta1"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/379689240/36kjm_400.webp"></a>
			<p> Woman's Anarkali Set <br>
				<b> &#x20B9; 540 </b> <del>&#x20B9;620</del> <a> 7% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="/anarkalidupatta2"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/382519791/yzcii_400.webp"> </a>
			<p> Woman's Crepe Anarkali Set <br>
				<b> &#x20B9; 366 </b> <del>&#x20B9;429</del> <a> 15% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="/anarkalidupatta3"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/300850467/sdkfw_400.webp"> </a>
			<p> Woman's Cotton Anarkali Set <br>
				<b> &#x20B9; 580 </b> <del>&#x20B9;623</del> <a> 7% off </a> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="/anarkalidupatta4"><img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/135665515/agk7w_400.webp"></a>
			<p> Woman's Anarkali Set <br>
				<b> &#x20B9; 699 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="/anarkalidupatta5"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/336482560/4sbsf_400.webp"></a>
			<p> Woman's Organza Anarkali Set <br>
				<b> &#x20B9; 532 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="/anarkalidupatta6"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/289786972/ebqzx_400.webp"> </a>
			<p> Woman's Party Wear Anarkali Set <br>
				<b> &#x20B9; 666 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="/anarkalidupatta7"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/309377782/d6ifb_400.webp"> </a>
			<p> Woman's Organza Anarkali Set <br>
				<b> &#x20B9; 670 </b> <br>
				Free Delivery
			</p>
		</div>
		<div class="cloth-set1">
			<a href="/anarkalidupatta8"> <img height="400px" width="300px" alt="KurtaSet"
					src="https://images.meesho.com/images/products/429500145/blif2_400.webp"> </a>
			<p> Woman's Party Wear Anarkali Set <br>
				<b> &#x20B9; 780 </b> <br>
				Free Delivery
			</p>
		</div>
	</div>
</body>

</html>